github "Alamofire/Alamofire"                ~> 4.0
github "SnapKit/SnapKit"                    "4.2.0"
github "rs/SDWebImage"                      "4.1.0"
github "hackiftekhar/IQKeyboardManager"     ~> 6.0.4
github "scalessec/Toast-Swift" ~> 5.0.0
github "suzuki-0000/SKPhotoBrowser"
github "CoderMJLee/MJRefresh"
github "pkluz/PKHUD" ~> 5.2.1
